nav {
    width: 100%;
    background: #f1f1f1;
    padding: 10px 6.7% 25px; 
    color: gray;
    display: flex;
    justify-content: space-between;
} 
ul {
    display: flex;
}

li {
    margin: 0px 5px;
    list-style: none;
    font-size: 20px;
}

.logo {
    font-size: 24px;
}

.logo,
ul,
.search {
    display: flex;
    align-items: flex-end;
} 